# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Django
db.sqlite3
staticfiles/
media/

# Environment variables
.env
.env.*

# Editors
.vscode/
.idea/

# Operating system
.DS_Store
Thumbs.db
